<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Lista de Pedidos de Transporte</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Pedidos de Transporte</h1>
  <table id="tabela-pedidos">
    <thead>
      <tr>
        <th>Funcionário</th>
        <th>Obra</th>
        <th>Atividade</th>
        <th>Prazo</th>
        <th>Veículo</th>
        <th>Solicitante</th>
        <th>Conatato do Solicitante</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <!-- Conteúdo dinâmico via JS -->
    </tbody>
  </table>

  <script src="script.js"></script>
</body>
</html>
